name: Flutter Android APK Auto Release

on:
  push:
    tags:
      - 'v*.*.*'   # v1.0.0, v1.1.0, etc.
  workflow_dispatch:

jobs:
  android-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: stable
          cache: false

      - name: Install dependencies
        run: flutter pub get

      - name: Build Android APK (Release)
        run: flutter build apk --release

      - name: Rename APK with version
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk \
             build/app/outputs/flutter-apk/tkx_event_mobile-${{ github.ref_name }}.apk

      - name: Create GitHub Release & Upload APK
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: build/app/outputs/flutter-apk/tkx_event_mobile-${{ github.ref_name }}.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
